* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


/* El body el el cuerpo donde irá todo nuestro estructura de etiquteas html, por lo tanto le entregamos valores genericos */

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    /* Esta propiedad afina la tipografia del nuestro sitio */
    -moz-osx-font-smoothing: grayscale;
    /* Esta propiedad afina la tipografia del nuestro sitio */ 

    margin: 1vw;
}

figure{
    margin: 1vw;
}

figcaption{
    font-size: 5vw;
    font-family: 'Orelega One', cursive;
}

p{
    padding: 1vw;
    font-family: 'Karantina', cursive;
    font-size: 6vw;
    text-align: justify;
}

h2{
    font-size: 4vw;
    font-family: 'Orelega One', cursive;
}

.t-principal {
    width: 100%;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 3vw;
    /*text-shadow: -4px 3px 0 #0cc2e2, -14px 7px 0;*/
    --text-shadow: -4px 3px 0 #0cc2e2, -14px 7px 0;
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor .contenido{
    width:70%;
    background-color: gray;
    margin-right: 1vw;
}
.contenedor .contenido .contenido-2{
    width:100%;
    display: flex;
    justify-content: center;
}

.contenedor .contenidoLateral{
    width: 30%;
    background-color: cadetblue;
}

.t-noticias{
margin-top: 4vw;
}

.formulario
{
    display: flex;
}

.formulario input
{
    font-family: 'Karantina', cursive;
    width: 80%;
    margin: 1rem;
    font-size: 5vw;
    -moz-border-radius: .2rem;
    -webkit-border-radius: .2rem;
    border-radius: .2rem;
    color: cadetblue;

    text-align: center;
}

@media(width:400px)
{
    .contenidoLateral{
        display: none;
    }
    .contenido{
        width: 100%;
    }
}